<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="rescap uap mp uap3">

  <Identity
    Name="23778SeakyTheLoner.SMPlayer"
    Publisher="CN=CFBE922A-0341-4A7E-B15B-A6DEF6C9E3AF"
    Version="2.9.0.0" />

  <mp:PhoneIdentity PhoneProductId="cc323160-1166-40e8-bb50-eaf5dc6fc12d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SMPlayer</DisplayName>
    <PublisherDisplayName>SeakyTheLoner</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SMPlayer.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="SMPlayer, a simple music player"
        BackgroundColor="#F8F8F8">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#F8F8F8"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="music_player">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/mpeg">.mp3</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.flac</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.wma</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.alac</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.aac</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.wav</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.ogg</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>.mp3</uap:DisplayName>
            <uap:Logo>Assets\monotone_no_bg.png</uap:Logo>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.mediaPlayback">
          <uap:MediaPlayback>
            <uap:Codec Name="mp3"/>
            <uap:Codec Name="flac"/>
            <uap:Codec Name="alac"/>
            <uap:Codec Name="aac"/>
            <uap:Codec Name="wma"/>
            <uap:Codec Name="wav"/>
            <uap:Codec Name="ogg"/>
          </uap:MediaPlayback>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <uap:Capability Name="musicLibrary"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="removableStorage"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>